<div class="row m-1 d-flex justify-content-around align-items-center" style="height:120px;background-color: rgb(247, 252, 253);
 font-size: 40px; font-weight: 600;">
    New arrived
</div>
<div class="row m-1 d-flex justify-content-around align-items-center">

    <div class="row h-50 d-flex justify-content-center align-items-center">
        <!-- ----------------------------------------------First Cart------------------------------------------------------------ -->
        <div class=" col-xl-4 col-lg-4 col-md-6 col-sm-8 " style="padding-bottom: 25px;">
            <div class="container">
                <div class="card">
                    <div class="imgbox">
                        <img src="../../../assets/imgs/wwws.png">
                    </div>
                    <div class="contentbox">
                        <h2>Apple</h2>
                        <div class="size">
                            <span>7</span>
                            <span>8</span>
                            <span>9</span>
                            <span>10</span>
                        </div>
                        <div class="color">
                            Color
                            <span id="span"></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <a href="#">160$ <span style="color: rgb(228, 94, 94);">Buy Now </span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-check-fill" viewBox="0 0 16 16">
                            <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm-1.646-7.646-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L8 8.293l2.646-2.647a.5.5 0 0 1 .708.708z"/>
                          </svg></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- ----------------------------------------------End Cart------------------------------------------------------------ -->

        <!-- ----------------------------------------------Sec Cart------------------------------------------------------------ -->
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-8 " style="padding-bottom: 25px;">
            <div class="container">
                <div class="card">
                    <div class="imgbox">
                        <img src="../../../assets/imgs/kkkkkk.png">
                    </div>
                    <div class="contentbox">
                        <h2>Nike</h2>
                        <div class="size">
                            <span>7</span>
                            <span>8</span>
                            <span>9</span>
                            <span>10</span>
                        </div>
                        <div class="color">
                            Color
                            <span id="span"></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <a href="#">22$ <span style="color: rgb(228, 94, 94);">Buy Now </span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-check-fill" viewBox="0 0 16 16">
                              <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm-1.646-7.646-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L8 8.293l2.646-2.647a.5.5 0 0 1 .708.708z"/>
                            </svg>
                          </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- ----------------------------------------------End Cart------------------------------------------------------------ -->

        <!-- ----------------------------------------------Third Cart------------------------------------------------------------ -->

        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-8 " style="padding-bottom: 25px;">
            <div class="container">
                <div class="card">
                    <div class="imgbox">
                        <img src="../../../assets/imgs/head.png">
                    </div>
                    <div class="contentbox">
                        <h2>Bose Z1</h2>
                        <div class="size">
                            <span>7</span>
                            <span>8</span>
                            <span>9</span>
                            <span>10</span>
                        </div>
                        <div class="color">
                            Color
                            <span id="span"></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <a href="#">59$ <span style="color: rgb(228, 94, 94);">Buy Now </span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-check-fill" viewBox="0 0 16 16">
                              <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm-1.646-7.646-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L8 8.293l2.646-2.647a.5.5 0 0 1 .708.708z"/>
                            </svg>
                          </a>
                    </div>
                </div>
            </div>

        </div>
        <!-- ----------------------------------------------End Cart------------------------------------------------------------ -->

    </div>
    <div class="row bg-success h-50">

    </div>
</div>
