<main class="container ">
  <div class="row mt-5">
    <!-- Left Column / Headphones Image -->
    <div class="col-6">
      <img class="img-fluid"
        src="https://media.istockphoto.com/photos/stability-and-cushion-running-shoes-new-unbranded-running-sneaker-or-picture-id1320786676?b=1&k=20&m=1320786676&s=170667a&w=0&h=qKmwIvi7qq8RBNpFzZzifpfPcZl82xlq2whbMm4W-jE="
        alt="" />
      <!-- <img data-image="blue"
        src="https://images.unsplash.com/photo-1642977129233-6676a10f01d0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60"
        alt="">
      <img data-image="red" class="active"
        src="https://images.unsplash.com/photo-1642977129233-6676a10f01d0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60"
        alt=""> -->
    </div>

    <!-- Right Column -->
    <div class="col-6">
      <!-- Product Description -->
      <div>
        <h1>Off-White Odsy-1000 Low-Top Sneakers</h1>
        <p>
          The preferred choice of a vast range of acclaimed DJs. Punchy,
          bass-focused sound and high isolation. Sturdy headband and on-ear
          cushions suitable for live performance
        </p>
        <ul class="list-unstyled d-flex">
          <li class="ms-3">
            <a class="link-dark text-docration-none" href="#"><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i> 123 Reviews
            </a>
          </li>
          <li class="ms-3">
            <a class="link-dark" href="#"><i class="fab fa-twitter-square"></i></a>
          </li>
          <li class="ms-3">
            <a class="link-dark" href="#"><i class="fab fa-youtube"></i></a>
          </li>
        </ul>
      </div>
      <!-- Product Pricing -->
      <div class="lead mb-2">
        <span class="h3">148$</span>
      </div>
      <!-- Product Configuration -->
      <div>
        <table class="table table-striped">
          <tbody>
            <tr>
              <td>Model</td>
              <th>Odsy-1000</th>
            </tr>
            <tr>
              <td>Color</td>
              <th>Brown</th>
            </tr>
            <tr>
              <td>Delivery</td>
              <th>Russia, USA & Europe</th>
            </tr>
          </tbody>
        </table>
        <div class="text-center border-bottom mb-1 pb-1">
          <span (click)="add(quantity)" class="btn btn-outline-primary"
            ><i class="fas fa-plus"></i></span
          ><input
            class="btn"
            #quantity
            style="width: 100px"
            name="quantity"
            value="3"
            type="number"
          />
          <span (click)="sub(quantity)" class="btn btn-outline-primary"
            ><i class="fas fa-minus"></i></span>
        </div>
        <!-- Cable Configuration -->
        <!-- <ul class="list-unstyled d-flex">
          <li class="ms-3">
            <a class="link-dark" href="#"><i class="fab fa-facebook-square"></i></a>
          </li>
          <li class="ms-3">
            <a class="link-dark" href="#"><i class="fab fa-twitter-square"></i></a>
          </li>
          <li class="ms-3">
            <a class="link-dark" href="#"><i class="fab fa-youtube"></i></a>
          </li>
        </ul> -->
      </div>

      <div class="text-center mt-3">
        <a href="https://nicepage.com" class="btn btn-outline-primary me-5">Add to Cart
        </a>

        <a href="https://nicepage.com" class="btn btn-outline-primary">
          <!--product_button_content-->buy it now
          <!--/product_button_content-->
        </a>
      </div>
    </div>
  </div>
</main>
