<div class="bg-pr font-style">
  <div class="container-fluid">
    <div class="row">
      <div class="col-6 px-3 d-none d-lg-flex flex-row flex-nowrap align-items-center">
        <div class="header-text  ">
          <i class="fas text-dark fa-phone"></i>
          <a class="text-center ms-2 text-light" href="tel:%20+0123456789"> +02 01157033279</a>
          <i class="far text-dark fa-envelope ms-4"></i>
          <a class="text-center ms-2 text-light" href="mailto:kalles@domain.com">alaahamdy201295@gmail.com</a>
        </div>
      </div>
      <div class="col px-3  ">
        <div class="d-flex flex-row flex-nowrap ">
          <div class="dropdown   ms-auto  ">
            <div id="dropdownMenuButton1" class="btn gap-1 d-flex align-items-center justify-content-center"
              data-bs-toggle="dropdown">
              <i class="fas  me-1 fa-language "></i>
              <span class="text-light">Language</span>
              <i class="fas fa-angle-down "></i>
            </div>
            <ul class="dropdown-menu z-index-5000" aria-labelledby="dropdownMenuButton1">
              <li>
                <a class="dropdown-item" href="/" data-no-instant="" rel="nofollow" data-currency="T4D"></a>
              </li>
              <li>
                <a class="dropdown-item" href="/" data-no-instant="" rel="nofollow" data-currency="AUD">AUD</a>
              </li>
              <li>
                <a class="dropdown-item" href="/" data-no-instant="" rel="nofollow" data-currency="CAD">CAD</a>
              </li>
              <li>
                <a class="dropdown-item" href="/" data-no-instant="" rel="nofollow" data-currency="DKK">DKK</a>
              </li>
              <li>
                <a class="dropdown-item" href="/" data-no-instant="" rel="nofollow" data-currency="EUR">EUR</a>
              </li>
              <li>
                <a class="dropdown-item" href="/" data-no-instant="" rel="nofollow" data-currency="GBP">GBP</a>
              </li>
              <li>
                <a class="dropdown-item" href="/" data-no-instant="" rel="nofollow" data-currency="HKD">HKD</a>
              </li>
              <li>
                <a class="dropdown-item" href="/" data-no-instant="" rel="nofollow" data-currency="JPY">JPY</a>
              </li>
              <li>
                <a class="dropdown-item" href="/" data-no-instant="" rel="nofollow" data-currency="NZD">NZD</a>
              </li>
              <li>
                <a class="dropdown-item" href="/" data-no-instant="" rel="nofollow" data-currency="SEK">SEK</a>
              </li>
              <li>
                <a class="dropdown-item" href="/" data-no-instant="" rel="nofollow" data-currency="SGD">SGD</a>
              </li>
              <li>
                <a class="dropdown-item" href="/" data-no-instant="" rel="nofollow" data-currency="USD">USD</a>
              </li>
            </ul>
          </div>
          <div class="dropdown ">
            <div id="dropdownMenuButton1" class="btn gap-1 d-flex align-items-center justify-content-center"
              data-bs-toggle="dropdown">
              <i class="fas me-1  fa-map-marker-alt"></i>
              <span class="text-light">USD</span>
              <i class="fas fa-angle-down "></i>
            </div>
            <ul class="dropdown-menu z-index-5000" aria-labelledby="dropdownMenuButton1">
              <li>
                <a class="dropdown-item" href="/" data-no-instant="" rel="nofollow" data-currency="T4D"></a>
              </li>
              <li>
                <a class="dropdown-item" href="/" data-no-instant="" rel="nofollow" data-currency="AUD">AUD</a>
              </li>
              <li>
                <a class="dropdown-item" href="/" data-no-instant="" rel="nofollow" data-currency="CAD">CAD</a>
              </li>
              <li>
                <a class="dropdown-item" href="/" data-no-instant="" rel="nofollow" data-currency="DKK">DKK</a>
              </li>
              <li>
                <a class="dropdown-item" href="/" data-no-instant="" rel="nofollow" data-currency="EUR">EUR</a>
              </li>
              <li>
                <a class="dropdown-item" href="/" data-no-instant="" rel="nofollow" data-currency="GBP">GBP</a>
              </li>
              <li>
                <a class="dropdown-item" href="/" data-no-instant="" rel="nofollow" data-currency="HKD">HKD</a>
              </li>
              <li>
                <a class="dropdown-item" href="/" data-no-instant="" rel="nofollow" data-currency="JPY">JPY</a>
              </li>
              <li>
                <a class="dropdown-item" href="/" data-no-instant="" rel="nofollow" data-currency="NZD">NZD</a>
              </li>
              <li>
                <a class="dropdown-item" href="/" data-no-instant="" rel="nofollow" data-currency="SEK">SEK</a>
              </li>
              <li>
                <a class="dropdown-item" href="/" data-no-instant="" rel="nofollow" data-currency="SGD">SGD</a>
              </li>
              <li>
                <a class="dropdown-item" href="/" data-no-instant="" rel="nofollow" data-currency="USD">USD</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


