<div class="bg-pr font-style">
    <div class="container-fluid">
        <div class="row">
            <div class="col-6 px-3 d-none d-lg-flex flex-row flex-nowrap align-items-center">
                <div class="header-text  ">
                    <i class="fas text-dark fa-phone"></i>
                    <a class="text-center ms-2 text-light" href="tel:%20+0123456789"> +02 01157033279</a>
                    <i class="far text-dark fa-envelope ms-4"></i>
                    <a class="text-center ms-2 text-light" href="mailto:kalles@domain.com">alaahamdy201295@gmail.com</a>
                </div>
            </div>
            <div class="col px-3  ">
                <div class="d-flex flex-row flex-nowrap ">
                    <div class="dropdown   ms-auto  ">
                        <div id="dropdownMenuButton1" class="btn gap-1 d-flex align-items-center justify-content-center" data-bs-toggle="dropdown">
                            <i class="fas  me-1 fa-language "></i>
                            <span class="text-light">Language</span>
                            <i class="fas fa-angle-down "></i>
                        </div>
                        <ul class="dropdown-menu z-index-5100" aria-labelledby="dropdownMenuButton1">
                            <li>
                                <a class="dropdown-item" href="/" data-no-instant="" rel="nofollow" data-currency="T4D"></a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/" data-no-instant="" rel="nofollow" data-currency="AUD"><span class="fi fi-us" style="margin-right: 10px;"></span>EN</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/" data-no-instant="" rel="nofollow" data-currency="AUD"><span class="fi fi-eg"></span>AR</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/" data-no-instant="" rel="nofollow" data-currency="AUD"><span class="fi fi-es"></span>ESP</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/" data-no-instant="" rel="nofollow" data-currency="AUD"><span class="fi fi-tr"></span>TUR</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/" data-no-instant="" rel="nofollow" data-currency="AUD"><span class="fi fi-de"></span>GER</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/" data-no-instant="" rel="nofollow" data-currency="AUD"><span class="fi fi-jp"></span>JPN</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/" data-no-instant="" rel="nofollow" data-currency="AUD"><span class="fi fi-cn"></span>CHN</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/" data-no-instant="" rel="nofollow" data-currency="AUD"><span class="fi fi-ru"></span>RUS</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/" data-no-instant="" rel="nofollow" data-currency="AUD"><span class="fi fi-in"></span>IND</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/" data-no-instant="" rel="nofollow" data-currency="AUD"><span class="fi fi-fr"></span>FR</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/" data-no-instant="" rel="nofollow" data-currency="AUD"><span class="fi fi-gr"></span>GR</a>
                            </li>
                        </ul>
                    </div>
                    <div class="dropdown ">
                        <div id="dropdownMenuButton1" class="btn gap-1 d-flex align-items-center justify-content-center" data-bs-toggle="dropdown">
                            <i class="fas me-1  fa-map-marker-alt"></i>
                            <span class="text-light">USD</span>
                            <i class="fas fa-angle-down "></i>
                        </div>
                        <ul class="dropdown-menu z-index-5100" aria-labelledby="dropdownMenuButton1">
                            <li>
                                <a class="dropdown-item" href="/" data-no-instant="" rel="nofollow" data-currency="T4D"></a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/" data-no-instant="" rel="nofollow" data-currency="AUD"><span class="fi fi-eu"></span>Euro</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/" data-no-instant="" rel="nofollow" data-currency="AUD"><span class="fi fi-us"></span>USD</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/" data-no-instant="" rel="nofollow" data-currency="AUD"><span class="fi fi-eg"></span>LE</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/" data-no-instant="" rel="nofollow" data-currency="AUD"><span class="fi fi-gb"></span>GBP</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/" data-no-instant="" rel="nofollow" data-currency="AUD"><span class="fi fi-sa"></span>SAR</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/" data-no-instant="" rel="nofollow" data-currency="AUD"><span class="fi fi-qa"></span>QAR</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/" data-no-instant="" rel="nofollow" data-currency="AUD"><span class="fi fi-nz"></span>NZD</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/" data-no-instant="" rel="nofollow" data-currency="AUD"><span class="fi fi-jp"></span>YEN</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/" data-no-instant="" rel="nofollow" data-currency="AUD"><span class="fi fi-ru"></span>Ruble</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/" data-no-instant="" rel="nofollow" data-currency="AUD"><span class="fi fi-cn"></span>Yuan</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/" data-no-instant="" rel="nofollow" data-currency="AUD"><span class="fi fi-fr"></span>Frank</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>