/* You can add global styles to this file, and also import other style files */
:root {
  --primary-color: #3167eb;
}
* {
  scroll-behavior: smooth;
  /* transition: all .5s; */
}
.icon-size {
  width: 40px;
  height: 40px;
  text-align: center;
}
.font-style {
  font-family: "Fuzzy Bubbles", cursive;
}
.cover {
  object-fit: cover;
}
.z-index-5000 {
  z-index: 5000;
}
.z-index-5100 {
  z-index: 5100;
}
.bg-beige {
  background-color: #c9c9c2;
}
.bg-pr {
  background-color: var(--primary-color);
  color: white;
}



