
* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-sizing: border-box;
}
.where {
  position: relative;
  left: -131px;
  top: -109px;
}
.css-button {
  border-radius: 50px;
  border: none;
  background-color: #f0a27d;
}
.css-button:hover {
  background-color: #d65418;
}
.carousel-indicators button {
  background-color: black !important;
  width: 10px !important;
  height: 10px !important;
  border-radius: 50%;
  border: 0.5px solid black !important;
}
.point {
  cursor: pointer;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 50%;
  border: 0.5px solid black;
}
.container-fluid img {
  height: 100%;
  width: 100%;
}
.container {
  position: relative;
}
.bc-coller {
  background-color: #969696;
  padding-top: 20px;
  padding-left: 10px;
}
.bc-coller1 {
  background-color: #969696;
  padding-top: 10px;
  height: 92%;
  width: 100%;
}
.bc-coller img {
  height: 70%;
  width: 70%;
}
.bc-coller1 img {
  height: 70%;
  width: 70%;
}
.bc-coller1 img:hover, .bc-coller img:hover {
  transform: scale(1.08, 1.08);
  transition: all 0.4s;
}
/* Make the image responsive */
/* Style the button and place it in the middle of the container/image */
.carousel-inner {
  height: 55vh;
  width: 100vw;
}
.carousel-inner .carousel-item {
  height: 100%;
  width: 100%;
}
.carousel-inner .carousel-item #photo1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  height: 100%;
  width: 100%;
  grid-template-areas: "header header header";
}
.carousel-inner .carousel-item #photo1 img {
  height: 100%;
  width: 100%;
  grid-area: header;
  transition: all 0.5s ease-in;
}
@media (max-width: 56.8rem) {
  .carousel-indicators .point {
    opacity: 0 !important;
  }
}
